@import "../utils/mixins", "../utils/placeholders", "../utils/variable";

.header {
  background-color: #fff;
  padding: 33px 0;
  &__content {
    &-group {
      display: flex;
      gap: 91px;
      justify-content: center;
      &-logo {
      }
      &-nav {
        display: flex;
        align-items: flex-start;
        gap: 350px;
        &-list {
          display: flex;
          gap: 50px;
          align-items: center;
          &-second {
            display: flex;
            align-items: flex-start;
            gap: 50px;
          }
          &-select {
            border: none;
            &-option {
              color: #000;
              font-family: "Montserrat Alternates";
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
          &-link {
            color: #000;
            font-family: "Montserrat Alternates";
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-decoration: none;
          }
        }
      }
    }
  }
}
.navigation {
  &-list {
    &-select {
      &-option {
      }
    }
    &-link {
    }
  }
}

#output {
  color: #000;
  text-align: right;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

// togle

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}

/* Світла тема */
body.light {
  background-color: #f9f9f9;
  color: #333;
}

// /* Темна тема */
body.dark {
  background-color: #121212;
  color: #fff;
}

/* Контейнер для перемикача */
.toggle-container {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  margin: 20px;
}

/* Checkbox (прихований) */
.toggle-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Лейбл (перемикач) */
.toggle-label {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  //   padding: 0 5px;
  transition: background-color 0.3s;
  top: -26px;
}

/* Коло з іконкою */
.toggle-icon {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  transition: transform 0.3s, background-color 0.3s;
}

/* Сонце/місяць */
.toggle-checkbox:checked + .toggle-label .toggle-icon {
  transform: translateX(30px);
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #555;
}

.toggle-checkbox:checked + span {
  content: url("../../images/moon.png");
}
