@import "../utils/mixins", "../utils/placeholders", "../utils/variable";

.scientists {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-text {
      color: #000;
      font-family: "Montserrat Alternates";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 36px;
    }
    &-photos {
      display: flex;
      flex-direction: column;
      gap: 36px;
      margin-bottom: 36px;
      &-group1 {
        display: flex;
        gap: 59px;
      }
      &-group2 {
        display: flex;
        gap: 59px;
      }
      &-group3 {
        display: flex;
        gap: 59px;
      }
    }
    &-buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      &-group {
        display: flex;
        gap: 36px;
      }
      &-first {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 20px;
        &-button {
          color: #fff;
          text-align: right;
          font-family: "Montserrat Alternates";
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          display: inline-flex;
          padding: 10px 20px;
          align-items: flex-start;
          gap: 10px;
          border-radius: 20px;
          background: #000;
          box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
        }
      }
      &-second {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        &-button {
          white-space: pre;
          color: #fff;
          text-align: right;
          font-family: "Montserrat Alternates";
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          display: inline-flex;
          padding: 10px 20px;
          align-items: flex-start;
          gap: 10px;
          border-radius: 20px;
          background: #000;
          box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
        }
      }
      &-third {
        &-button {
          color: #fff;
          text-align: right;
          font-family: "Montserrat Alternates";
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          display: inline-flex;
          padding: 10px 20px;
          align-items: flex-start;
          gap: 10px;
          border-radius: 20px;
          background: #000;
          box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
        }
      }
    }
  }
}
.scientist {
  border-radius: 20px;
}

